@import url("/home/pree/.cache/wal/colors-waybar.css");
@define-color lightbackground shade(@color0, 1.4);
@define-color lighterbackground shade(@color0, 2);

* {
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    font-family: "Fira Code Nerd Font Mono";
    font-size: 14px;
}

window#waybar {
    background-color: @color0;
}

#workspaces button {
    padding: 0px 4px;
    color: @color8;
    background: transparent;
    /* transition: border-bottom 0.5s ease-in; */
}


#workspaces button.active {
    border-bottom: 2px solid @color1;
    background: @color0;
}


#window {
    color: @color4;
    padding-left: 10px;
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: bold;
    /* text-decoration-line: underline; */
}

#clock {
    background-color: @color0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    color: @color7;
    border-radius: 10px;
}

#battery {
    background-color: @lightbackground;
    padding: 0px 6px 0px 10px;
    color: @color7;
    border-radius: 10px 0px 0px 10px;
    -gtk-outline-radius: 10px 0px 0px 10px;
    font-family: "Fira Code Nerd Font";
}
